* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/****** header selector can be used for stlying the header tag *******/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-align: center; 
    display: flex;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 0;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* The div tag is changed to nav */

nav {
    padding-top: 15px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.header nav li {
    margin-left: 20px;
}

.header nav a {
    color: #ffffff;
    text-decoration: none;
}

/* ........................... */
/* Bacground image div styling */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;  
}

.hero img {
    width: 100%;
    height: 800px;
}

/* ........................................ */
/* This is the section styling for main body and sidebar  */
section, 
.main-content-body{
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: 77%;
    flex-direction: column;
} 

.main-content-body {
    margin: 10px;
    padding: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-content-body img {
    margin-right: 20px;
    max-height: 200px;
}

.main-content-body h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* aside side bar styling */
.aside-benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aside-benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.aside-benefits div h3 {
    margin-bottom: 10px;
    text-align: center
}

.aside-benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

@media (max-width: 675px) {
    .header {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-bottom: 5px;
    }
    .main-content-body {
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    .hero,
    .hero img {
        height: 400px;
    }
    section {
        flex-direction: column;
    }
    .main-content {
        width: 100%;
    }
    .main-content-body {
        width: 97%;
    }
    .main-content-body img {
        height: 200px;
        width: 300px;
    }
    .aside-benefits {
        width: 97%;
        margin: 0 auto;
        flex-direction: row;
    }
}

